version: "3"
services:
  app:
    build:
      context: .
    volumes:
      - ../.:/usr/src/myapp
    tty: true
    ports:
      - "3000:3000"
    env_file:
      - ../.env.development
    depends_on:
      - database

  database:
    image: "postgres:16.0-alpine3.18"
    ports:
      - "5432:5432"
    env_file:
      - ../.env.development
